@model Users
@{
    ViewBag.Title = "Applicant Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-body padding-all-10">
    <p class="empty-space-12"></p>
    <p class="section-title"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i><strong> Basic Information</strong></p>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-2">
                    <label>Full Name:</label>
                </div>
                <div class="col-lg-10">
                    @Model.FullName
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-2">
                    <label>Gender:</label>
                </div>
                <div class="col-lg-10">
                    @Model.Gender
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-2">
                    <label>Birth Date:</label>
                </div>
                <div class="col-lg-10">
                    @Model.BirthDate
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-2">
                    <label>Religion:</label>
                </div>
                <div class="col-lg-10">
                    @Model.Religion
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-2">
                    <label>Citizenship:</label>
                </div>
                <div class="col-lg-10">
                    @Model.Citizenship
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-2">
                    <label>Cellular:</label>
                </div>
                <div class="col-lg-10">
                    @Model.Cellular
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-2">
                    <label>Email Address:</label>
                </div>
                <div class="col-lg-10">
                    @Model.Email
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-2">
                    <label>AdressLine 1:</label>
                </div>
                <div class="col-lg-10">
                    @Model.AddressLine1
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-2">
                    <label>Address 2:</label>
                </div>
                <div class="col-lg-10">
                    @Model.AddressLine2
                </div>
            </div>
        </div>

    </div>
    <p class="empty-space-12"></p>
    <p class="section-title"><i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i><strong> Education</strong></p>
</div>