@model RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="login-box-body">
    <p class="login-box-msg">Please Register to Join NorthOps.</p>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="has-feedback">
            @Html.DevExpress().TextBoxFor(m => m.Email,
                settings => {
                                settings.Name = "Email";
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.NullText = "Email Address";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Properties.ValidationSettings.RequiredField.IsRequired = true; settings.Properties.ValidationSettings.Display = Display.Dynamic;
                               // settings.Properties.ValidationSettings.ErrorImage.Url = "~/content/img/error-mail.png";
                }).GetHtml()
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            @*@Html.ValidationMessageFor(m => m.Email)*@
        </div>
        <div class="has-feedback">
            @Html.DevExpress().TextBoxFor(m => m.Password,
                settings => {
                    settings.Name = "Password";
                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    settings.Properties.NullText = "Password";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Properties.Password = true;
                    settings.Properties.ValidationSettings.RequiredField.IsRequired = true; settings.Properties.ValidationSettings.Display = Display.Dynamic;
                    // settings.Properties.ValidationSettings.ErrorImage.Url = "~/content/img/error-mail.png"; settings.Properties.Password = true;
                }).GetHtml()

            <span class="glyphicon glyphicon-lock form-control-feedback"></span>

            @*@Html.ValidationMessageFor(m => m.Password)*@
            @*@Html.DevExpress().CheckBoxFor(m => m.RememberMe, ch => {
                    ch.Name = "RememberMe"; ch.Text = "Remember Me"; ch.Properties.AllowGrayed = false;
                    ch.PreRender = (sender, e) => {
                        ASPxCheckBox chk = (ASPxCheckBox)sender;
                        chk.CheckState = CheckState.Unchecked;
                    };
                }).GetHtml()*@
        </div>
        <div class="has-feedback">
            @Html.DevExpress().TextBoxFor(m => m.ConfirmPassword,
                settings => {
                    settings.Name = "ConfirmPassword";
                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    settings.Properties.NullText = "Confirm Password";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Properties.Password = true;
                    settings.Properties.ValidationSettings.RequiredField.IsRequired = true; settings.Properties.ValidationSettings.Display = Display.Dynamic;
                    //     settings.Properties.ValidationSettings.ErrorImage.Url = "~/content/img/error-mail.png"; settings.Properties.Password = true;
                }).GetHtml()

            <span class="glyphicon glyphicon-lock form-control-feedback"></span>

            @*@Html.ValidationMessageFor(m => m.Password)*@
            @*@Html.DevExpress().CheckBoxFor(m => m.RememberMe, ch => {
                    ch.Name = "RememberMe"; ch.Text = "Remember Me"; ch.Properties.AllowGrayed = false;
                    ch.PreRender = (sender, e) => {
                        ASPxCheckBox chk = (ASPxCheckBox)sender;
                        chk.CheckState = CheckState.Unchecked;
                    };
                }).GetHtml()*@
        </div>
        <br />
        <h3><i class="icon fa fa-info"></i> Important</h3>
        <p> To ensure that your application will be processed immediately, please fill out all information fields upon email confirmation of your registration. Make sure to check your account from time to time for assignment of your prequalifying exam online.</p>

        <button class="btn btn-openid btn-block">REGISTER</button>
    }







    <div class="social-auth-links text-center">
        <p><hr /></p>
        @*<p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using
                Google+
            </a>*@
    </div>
    <!-- /.social-auth-links -->
    @*<a href="#">I forgot my password</a><br>*@
    <a href="/member/login" class="text-center">I have an account</a>
</div>
